:root {
    --background-standard-color: rgb(15, 15, 15);
    --background-additional-color: rgb(13, 13, 13);
    --text-color: rgb(255, 255, 255);
    --text-addidtional-color: rgb(180, 180, 180);
    --elements-color: rgb(129, 60, 255);
    --elements-additional-color: rgb(149, 104, 239);
    --elements-additional2-color: rgba(168, 134, 239, 0.64);
    --box-color: rgba(255, 255, 255, 0.1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background: var(--background-standard-color);


    font-family: 'Lato', sans-serif;
    font-size: 22px;
    /*line-height: 10px;*/
    color: #ecf0f1;

}

header {
    backdrop-filter: blur(8px);
    width: 100%;
    opacity: 1;
}

nav {
    opacity: 1;
    padding: 20px 0px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


.special-frame {
    -webkit-filter: blur(100px);
    background: linear-gradient(180deg, var(--elements-color, rgb(149, 104, 239)) -43%, var(--elements-color, rgb(149, 104, 239)) 100%);
    filter: blur(100px);
    flex: none;
    height: 212px;
    opacity: .5;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    width: 1047px;
    z-index: -1;
}

.header-frame {
    z-index: 2;
    position: sticky;
    width: 100%;
    height: auto;
    flex: none;
    top: 0;
}

.flex-variant {
    display: contents;
}

.navigation {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.nav-stuff {
    z-index: 1;
}

.nav-stuff.middle.nav-links{
    transition: all 0.3s ease-in-out;
}

.main-navigation--open {
    transform: translate(0) !important;
    display: flex !important;
}

.middle {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    /*    */
}

.button {
    border: var(--elements-color) 1px solid;
    opacity: 1;
    border-radius: 10px;
    height: auto;
    width: auto;
    background: transparent;
}

.nav-stuff.button.active {
    display: none;
}

.elements {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.elements::before,
.elements::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.elements.margin-add::before,
.elements.margin-add::after {
    margin: 4px 0px 0px 4px;
}


/*underline*/
/*.elements::before {*/
/*    background-color: var(--elements-color);*/
/*    height: 2px;*/
/*    bottom: 0;*/
/*    transform-origin: 100% 50%;*/
/*    transform: scaleY(0);*/
/*    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);*/
/*}*/

.elements::after {
    content: attr(data-hover);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(0, 100%, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--elements-color);
}

.elements.margin-add.dif-color::after {
    color: var(--text-color);
}

.elements:hover::before {
    transform-origin: 0% 50%;
    transform: scaleY(1);
}

.elements:hover::after {
    transform: translate3d(0, 0, 0);
}

.elements span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.elements:hover span {
    transform: translate3d(0, -120%, 0);
}

.cont {
    margin: 4px 4px 0px 4px;
}

.btn-contact {
    grid-column-gap: 8px;
    grid-row-gap: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px 16px;
    font-size: 16px;
}

.t-btn-contact {
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125em;
    line-height: 1.2;

    cursor: pointer;
}
.hamburger {
    color: #1a1b1e;
    /*display: none;*/
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 20px;
    background: var(--elements-color);
    /*color: var(--base-color);*/
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2){
    opacity: 0;
    /*color: var(--base-background-color);*/
}
.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
    /*color: var(--base-background-color);*/
}

.nav-stuff.button.menu {
    display: none;
}


.section {
    background-color: var(--background-standard-color);
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: center;
    overflow: hidden;
    padding: 200px 0px 100px 0px;
    position: relative;
    /*width: 100%;*/
    align-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.container{
    align-content: center;
    /*align-items: center;*/
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 36px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.content {
    /*align-content: center;*/
    /*align-items: center;*/
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 80%;
}

.text-page {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.text-style {
    /*--framer-text-alignment: left;*/
    /*text-align: left;*/
    color: var(--text-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 4rem;
    /*margin-block-start: 0.63em;*/
    margin-block-end: 0em;
}

.text-style.paragraph {
    color: var(--text-addidtional-color);
    font-size: 28px;
    font-weight: 300;
    line-height: 3rem;
    margin-block-start: 0em;
}

.content.second {
    opacity: 1;
    transform: none;
    flex-direction: row;
    justify-content: flex-start;
}

.button-container {
    flex: none;
    height: auto;
    position: relative;
    width: auto;
    border: 1px solid var(--elements-color);
    padding: 14px;
    border-radius: 14px;
}

.button-container.back-color {
    background: var(--elements-color);
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 30px 0;
    /*background: white;*/
    white-space: nowrap;
}

.logos:before,
.logos:after,
.opinions-slide:before,
.opinions-slide:after{
    position: absolute;
    top: 0%;
    width: 250px;
    height: 256px;
    content: "";
    z-index: 2;
}

.logos:before,
.opinions-slide:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), var(--background-standard-color));
}

.logos:after,
.opinions-slide:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), var(--background-standard-color));

}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide img{
    height: 12rem;
    margin: 0 40px;
}

.logos-slide {
    display: inline-block;
    animation: 40s slide infinite linear;
}

.section.sc{
    /*overflow: visible;*/
    padding: 80px 0px 100px;
    align-items: center;
}

.container.sc {
    align-items: center;
}

.content.sc {
    gap: 12px;
}

.slideText{
    opacity: 0;
}

.slide-bottom{
    animation: slide-bottom 1s ease-in-out forwards;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-page.sc {
    justify-content: center;
    text-align: center;
}

.text-style.sc {
    font-size: 32px;
    margin-block-start: 0rem;
}

.text-style.paragraph.sc {
    color: var(--text-addidtional-color);
    font-size: 25px;
}


.slideIn {
    transform: scale(.5);
    animation: .9s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes slideIn {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.content.th{
    align-items: flex-start;
    /*gap: 20px;*/
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box {
    position: relative;
}

.content.boxes {
    align-items: flex-start;
    justify-content: flex-start;
    border: solid 1px var(--box-color);
    border-radius: 12px;
    width: 99%;
    opacity: 1;
}

.content.fr,
.box-que {
    /*gap: 28px;*/
    align-items: flex-start;
    opacity: 1;
    padding: 20px 36px 20px 36px;
}

.content-style {
    flex: none;
    height: auto;
    position: relative;
    white-space: normal;
    width: 99%;
    word-break: break-word;
    word-wrap: break-word;
}

.content-style.additional {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    opacity: 1;
}

.number {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    color: var(--elements-color);
    transform: none;
    opacity: 1;
}

.text-style.th {
    color: var(--elements-color);
    font-size: 18px;

    font-weight: bold;
    line-height: 1.2rem;

    margin-block-end: 0em;
    text-align: left;
    margin-block-start: 0.5em;
}

.text-style.fr {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4rem;

    margin-block-end: 0em;
    text-align: left;
    margin-block-start: 0.5em;
}

ul {
    text-align: left;
    color: var(--text-addidtional-color);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 18px;
}

li {
    font-size: 18px;
 }

.content.boxes.logo {
    align-items: center;
    cursor: pointer;
    gap: 0px;
    height: 372px;
    /*padding: 100px;*/
    text-decoration: none;
}

.content.ff {
    flex: none;
    /*height: 32rem;*/
    position: relative;
    width: 21.5rem;
    z-index: 1;
    color: yellowgreen;
}

.content-img {
    border-radius: inherit;
    inset: 0px;
}

.logo-work {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    transition: all .3s ease-in-out;
}

.logo-work.transform {
    transform: translateY(0) scale(1.25);
}

.special-frame.logo {
    top: unset;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 315px;
    opacity: 0;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.special-frame.logo.transform {
    opacity: 0.5;
}

.content.th.two {
    display: flex;
}


.opinions-slide {
    display: flex;
    white-space: nowrap;
}

.opinions-slide:before,
.opinions-slide:after{
    top: 0%;
}


.box.result {
    display: flex;
    animation: 60s slide infinite linear;
}

.content.boxes.opinion{
    /*background-color: cornflowerblue;*/
    border: 1px solid var(--box-color);
    width: 348px;
    height: 200px;
    margin: 8px
}

.checked {
    color: var(--elements-color);
}

.content-style.profile {
    display: flex;
    flex-direction: row;
}

.avatar{
    padding-right: 10px;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-title {
    color: var(--text-color);
    font-size: 16px;
}

.content.sv {
    /*gap: 12px;*/
    width: 100%;
}

.content.second.serv {
    justify-content: space-between;
    width: 100%;
}

.button-container.serv {
    width: -webkit-fill-available;
    padding: 14px 50px 14px 86px;
}

.special-frame.serv {
    top: 18rem;
    left: 2rem;
    z-index: -1;
}

.content-img.team {
    filter: grayscale();
    z-index: 1;
    transition: filter 0.4s ease-in-out;
}

.content-img.team.transform {
    opacity: 0.7;
    filter: none;
}

button {
    /*background-color: var(--elements-color);*/
    border: none;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}


.left {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.content.ff.sec {
    height: 32rem;
}

.scroll-images {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.box.team {
    padding-right: 20px;
}

.content-style.person{
    flex-direction: column;
    position: absolute;
    z-index: 1;
    justify-content: center;
    bottom: 68px;
}

.text-style.fr.pro,
.text-style.th.pro {
    text-align: center;
}

.content.third {
    width: 100%;
}

.cross {
    flex: none;
    height: 16px;
    overflow: hidden;
    position: relative;
    width: 16px;
    z-index: 1;
    transition: transform 200ms linear;
}

.vertical-line,
.horizontal-line {
    background-color: var(--elements-color);
    border-radius: 10px;
    transform: none;
    transform-origin: 50% 50% 0px;
}

.horizontal-line {
    flex: none;
    height: 2px;
    left: calc(50.00000000000002% - 16px / 2);
    overflow: visible;
    position: absolute;
    top: calc(50.00000000000002% - 2px / 2);
    width: 16px;
}

.vertical-line{
    flex: none;
    height: 16px;
    left: calc(50.00000000000002% - 2px / 2);
    overflow: visible;
    position: absolute;
    top: calc(50.00000000000002% - 16px / 2);
    width: 2px;
}

.content.que {
    width: 99%;
    padding: 10px 0px 10px 10px;
}

.content.box.que {
    align-items: stretch;
}

.content.box-que {
    display: flex;
    align-items: center;
    justify-items: stretch;
    flex-direction: row;
    width: 92%;
    padding: 10px 26px 10px 50px;
}

.content.th.que-2 {
    color: var(--text-color);
    font-size: 18px;
    gap: 0px;
    padding: 0px 0px 0px 48px;
    width: auto;
}


.content.th.que p {
    color: var(--text-color);
    margin-block-start: 0;
    margin-block-end: 0;
}

footer {
    margin: 0 auto;
    max-width: 1440px;
    font-size: 16px;
}

.footer-container {
    align-content: center;
    align-items: center;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: nowrap;
    gap: 0px;
    height: auto;
    justify-content: space-between;
    overflow: visible;
    padding: 36px;
    position: relative;
}

.container.footer {
    /*gap: 0px;*/
    display: flex;
    flex-direction: row;
    width: auto;
}

.content.ff.footer {
    margin: 0px 0px 0px 62rem;
    flex-direction: row;
    z-index: 10;
}

.content.footer{
    column-gap: 50px;
    flex: auto;
    width: auto;
}

.button-container.footer {
    width: 8rem;
}

.nav-stuff.footer {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/*cursors*/
div.cursors div {
    position:  absolute;
    top: 300px;
    left: 300px;
    width: 10px;
    height: 10px;
    background-color:  var(--elements-color);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
    transition: .4s, left .1s, left .1s, opacity .5s;
    transform: translate(-50%, -50%)
}

div.cursors.active div{
    background-color: var(--elements-additional2-color);
    width: auto;
    height: 34px;
    border-radius: 20px;
    border: 1px solid var(--elements-color);
}

div.cursors div span {
    color: transparent;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    opacity: 0;
}

div.cursors div span.visible {
    opacity: 1;
    color: var(--text-color);
}


/*BREAKPOINTS*/
@media (max-width: 1440px) {
    .navigation {
        /*padding: 18px 14px 0px 14px;*/
        margin: 18px 14px 0px 14px;
    }
    .section {
        margin: 18px 14px 0px 14px;
        padding: 80px 0px 80px 0px;

    }
}

@media (max-width: 1340px) {

    .button-container.serv {
        padding: 14px 30px 14px 64px;
    }

    .content.ff.footer {
        margin: 0px 0px 0px 50rem;
    }
}


@media (max-width: 1220px) {
    body{
        font-size: 20px;
    }
    .text-style,
    .text-style.sc{
        font-size: 32px;
    }
    .text-style.paragraph,
    .text-style.paragraph.sc{
        font-size: 20px;
    }

    .text-style.fr {
        font-size: 18px;
    }

    .text-style.th, li {
        font-size: 16px;
    }

    .button-container.serv {
        padding: 14px 30px 14px 64px;
    }

    .content.ff{
        width: 20rem;
    }

    .content.ff.sec{
        height: 30rem;
    }

    .content.ff.footer {
        margin: 0px 0px 0px 26rem;
    }

    .content.que {
        width: 98%;
    }

    .content.box-que {
        width: 88%;
    }

}

@media (max-width: 1025px) {

    .button-container.serv {
        padding: 14px 30px 14px 36px;
    }
}

@media (max-width: 910px) {
    .nav-stuff.button{
        display: none;
    }

    .nav-stuff.button.active{
        display: block;
        width: 82px;
    }

    .nav-stuff.button.menu{
        display: block;
    }

    .middle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 28px;
    }

    .nav-stuff.middle.nav-links{
        display: none;
        position: absolute;
        top: -18px;
        right: 0;
        background-color: var(--background-standard-color);
        width: 30%;
        transform: translateX(150%);
        padding: 100px 10px 200% 10px;
        box-shadow: -11px 0px 3px -5px rgba(66, 68, 90, 0.12);
        padding-inline-start: 10px;
    }

    .content.second.serv {
        flex-direction: column;
    }

    .content.fr {
        width: 90%;
    }

    .button-container.serv {
        padding: 14px 220px 14px 250px;
    }

    .content-style {
        width: 90%;
    }
    .content.ff.footer {
        margin: 0px 0px 0px 14rem;
    }


}

@media (max-width: 860px){
    .content.th {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }
    .button-container.serv {
        padding: 14px 200px 14px 230px;
    }
}

@media (max-width: 768px) {
    .content {
        width: 100%;
    }

    .content.box-que {
        padding: 10px 26px 10px 28px;
    }

    .content.ff.footer {
        margin: 0px 0px 0px 15rem;
    }
    .container.footer {
        flex-direction: column;
    }

    .content.ff.footer {
        margin: 0px 0px 0px 0px;
    }

    .button-container.serv {
        padding: 14px 30px 14px 260px;
    }

}

@media (max-width: 668px) {
    .button-container.serv {
        padding: 14px 30px 14px 220px;
    }
}

@media (max-width: 545px) {
    .button-container.serv {
        padding: 14px 30px 14px 180px;
    }
}

@media (max-width: 500px) {

    .button-container.serv {
        padding: 11px 120px 14px 150px;
    }

    .content.que {
        padding: 0px;
    }

}

@media (max-width: 470px) {

    .button-container.serv {
        padding: 11px 0px 14px 96px;
    }

    .content.fr {
        width: 80%;
    }
}

@media (max-width: 376px) {

    .button-container.serv {
        padding: 11px 0px 14px 76px;
    }

    .content.fr {
        width: 80%;
    }
    .content.box-que {
        width: 86%;
    }


}


